# Emacs lock files
.#*

# Emacs autosave files
*~

# Emacs backup files
*#

# Optional: Org-mode agenda and similar temp files
.org-id-locations

# Ignore all files with no dot (no extension)
**/[^.]*

# But allow .c source files
!**/*.c
